.video-container {
    margin: auto;
    margin-bottom: 1rem;
    padding: 0;
    text-align: center;
}

.video-container > iframe {
    width: 300px;
    height: 176px;
}

@media (min-width: 43em) {
    .video-container > iframe {
        width: 560px;
        height: 315px;
    }
}

@media (min-width: 82em) {
    .video-container > iframe {
        width: 42em;
        height: 24.5em;
    }
}